body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: #fcfcfc;
  margin: 40px;
}
textarea {
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 4px;
  box-sizing: border-box;
}
#content-wrapper {
  float: left;
  width: 75%;
  margin: 0 5% 0 0;
}
#content-wrapper textarea#content {
  width: 100%;
  height: 300px;
}
#metadata-wrapper {
  float: right;
  width: 20%;
}
#metadata-wrapper dl#metadata {
  margin: 0;
  padding: 0;
  list-style: none;
}
#metadata-wrapper dl#metadata dt {
  font-size: 18px;
  color: #aaa;
  margin: 0;
}
#metadata-wrapper dl#metadata dt.error {
  color: #c00;
}
#metadata-wrapper dl#metadata dd {
  font-size: 24px;
  margin: 0 0 20px;
}
#metadata-wrapper dl#metadata dd.error {
  font-size: 14px;
  color: #aaa;
}
