body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #fcfcfc;
  margin: 40px;
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
}
p {
  margin: 0 0 10px;
}
p.date {
  color: #888;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#tags {
  float: left;
  width: 10%;
  padding: 12px 0 0;
}
ul#tags li {
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
  color: #888;
  margin: 0 0 1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: #f8f8f8;
}
ul#tags li.tag {
  background: #c00;
  color: #fff;
}
#content-wrapper {
  float: left;
  width: 90%;
}
#content {
  height: 300px;
  border-radius: 2px;
  padding: 12px;
  white-space: pre;
  background: #fff;
  border: 1px dotted #ccc;
  -webkit-transition: background 0.4s ease;
}
#content .title {
  font-weight: bold;
}
#content .author {
  color: #888;
}
